/* ----- TOC ----- 

    1. General
    2. Main Page
    3. Calculator

   --------------- */
/* GENERAL */
/* line 4, /Users/undervane/git/Web/Calculadora/sass/base/_general.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/* line 13, /Users/undervane/git/Web/Calculadora/sass/base/_general.scss */
.overlay {
  width: 100vw;
  height: 100vh;
}

/* MAIN PAGE */
/* line 4, /Users/undervane/git/Web/Calculadora/sass/pages/_home.scss */
.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(154deg, #43a0f4, #3abc91, #743abc);
  background-size: 600% 600%;
  -webkit-animation: gradientAnimation 20s ease infinite;
  animation: gradientAnimation 20s ease infinite;
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 23% 0%;
  }
  50% {
    background-position: 78% 100%;
  }
  100% {
    background-position: 23% 0%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 23% 0%;
  }
  50% {
    background-position: 78% 100%;
  }
  100% {
    background-position: 23% 0%;
  }
}

/* line 36, /Users/undervane/git/Web/Calculadora/sass/pages/_home.scss */
.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* CALCULATOR */
/* line 4, /Users/undervane/git/Web/Calculadora/sass/modules/_calculator.scss */
#calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: perspective(1px) scale(1) translate(-50%, -50%);
          transform: perspective(1px) scale(1) translate(-50%, -50%);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: 2s ease-in-out 0s 1 fadeInRotate;
          animation: 2s ease-in-out 0s 1 fadeInRotate;
}

@-webkit-keyframes fadeInRotate {
  0% {
    -webkit-transform: perspective(1px) rotateZ(-5deg) scale(0.8) translate(-50%, -50%);
            transform: perspective(1px) rotateZ(-5deg) scale(0.8) translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(1px) rotateZ(0deg) scale(1) translate(-50%, -50%);
            transform: perspective(1px) rotateZ(0deg) scale(1) translate(-50%, -50%);
  }
}

@keyframes fadeInRotate {
  0% {
    -webkit-transform: perspective(1px) rotateZ(-5deg) scale(0.8) translate(-50%, -50%);
            transform: perspective(1px) rotateZ(-5deg) scale(0.8) translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(1px) rotateZ(0deg) scale(1) translate(-50%, -50%);
            transform: perspective(1px) rotateZ(0deg) scale(1) translate(-50%, -50%);
  }
}

/* line 40, /Users/undervane/git/Web/Calculadora/sass/modules/_calculator.scss */
.button {
  cursor: pointer;
}

/* line 46, /Users/undervane/git/Web/Calculadora/sass/modules/_calculator.scss */
.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}