
/* CALCULATOR */

#calculator{

    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 1;
    transform: perspective(1px) scale(1) translate(-50%, -50%);
    transform-origin: 0% 0%;
    animation: 2s ease-in-out 0s 1 fadeInRotate;
    

}

@keyframes fadeInRotate {

    0% {

        transform: perspective(1px) rotateZ(-5deg) scale(0.8) translate(-50%, -50%);
        opacity: 0;

    }

    50% {

        opacity: 1;

    }

    100% {

        transform: perspective(1px) rotateZ(0deg) scale(1) translate(-50%, -50%);

    }
}

.button{

    cursor: pointer;

}

.no-select {

    user-select: none;

}