html, body{

    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;

}

.overlay{

    width: 100vw;
    height: 100vh;

}

.background{

    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgba(49,176,245,1) 0%, rgba(83,21,176,1) 100%);    

}

#calculator{

    position: absolute;
    top: 50%;
    left: 50%;
   

}

.button{

    cursor: pointer;

}

.button:active{

    filter: none;

}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

.container{

    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}